* {
	margin: 0;
	padding: 0;
}

#last_picker {
	text-align: center;
}

#last_picker ul {
	display: inline-block;

	list-style-type: none;
	margin: 1em;
}

#last_picker li {
	display: block;
	float: left;

	font-size: 1.5em;
}

#last_picker a {
	padding: 1em;
}

